# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.test
examples/*/test

# Backup files
*~
/libscpi/obj/
/libscpi/dist/

scpi_parser_qingfeng_update_listing.txt
